@model IEnumerable<CRM.Model.OfferItem>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
<br />
<div class="content-page">
    <!-- Start content -->

    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(x => x.Customer.IdentityNumber)
                            </dt>
                            <dd>
                                @item.Customer.IdentityNumber
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(x => x.ProductName)
                            </dt>
                            <dd>
                                @item.ProductName
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(x => x.SerialNumber)
                            </dt>
                            <dd>
                                @item.SerialNumber
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(x => x.RegisterRequiredDate)
                            </dt>
                            <dd>
                                @item.RegisterRequiredDate
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(x => x.OfferPrice)
                            </dt>
                            <dd>
                                @item.OfferPrice
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(x => x.Quantity)
                            </dt>
                            <dd>
                                @item.Quantity
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
