@model IEnumerable<CRM.Model.Offer>

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>
<div class="content-page">
    <!-- Start content -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <p>
                        <br />
                        <a href="@Url.Action("Create")" class="btn btn-custom waves-effect waves-light ">Yeni Teklif Ekle</a>
                    </p>
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    FullName
                                </th>
                                <th>
                                    RequiredDate
                                </th>
                                <th>
                                    SellingPrice
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var items = item.OfferItems.Select(s => new { FirstName = s.Customer.FirstName, OfferId = s.OfferId }).Distinct().ToList();
                                foreach (var item2 in items)
                                {
                                    <tr>
                                        <td>
                                            @item2.FirstName
                                        </td>
                                        <td>
                                            @item.OfferItems.FirstOrDefault().RegisterRequiredDate
                                        </td>
                                        <td>
                                            @item.OfferItems.Sum(s => s.Total)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", new { id = item2.OfferId})" class="btn btn-outline-danger waves-effect waves-light">Sil</a>
                                            <a href="@Url.Action("Details", new { id = item2.OfferId})" class="btn btn-outline-success waves-effect waves-light">Detaylar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
