@model CRM.Model.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br />
<br />
<div class="content-page">
    <!-- Start content -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.IdentityNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IdentityNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Region.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Region.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Birthdate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Birthdate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Geri Dön", "Index")
                </p>
            </div>
        </div>
    </div>
</div>


