@using CRM.UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!doctype html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">


    <!-- App Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- App title -->
    <title>CRM-Sümeyye Keskin</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

    <!-- Switchery css -->
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <!-- Modernizr js -->
    <script src="/assets/js/modernizr.min.js"></script>

</head>


<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        <div class="account-bg">
            <div class="card-box mb-0">
                <div class="text-center m-t-20">
                    <a href="index.html" class="logo">
                        <i class="fa fa-handshake-o"></i>
                        <span>CRM</span>
                    </a>
                </div>
                <div class="m-t-10 p-20">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-muted m-b-0 m-t-0">Giriş Yap</h6>
                        </div>
                    </div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                <div class="col-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "E-posta", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Parola" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <label for="checkbox-signup">
                                            Beni Hatırla
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group text-center row m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Giriş</button>
                                </div>
                            </div>
                        }

                        <div class="form-group row m-t-30 mb-0">
                            <div class="col-12">
                                <a href="@Url.Action("ForgotPassword","Account")" class="text-muted"><i class="fa fa-lock m-r-5"></i> Parolanızı mı unuttunuz?</a>
                            </div>
                        </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end card-box-->

        <div class="m-t-20">
            <div class="text-center">
                <p class="text-white">Hesabınız yok mu? <a href="@Url.Action("Register","Account")" class="text-white m-l-5"><b>Kaydol</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/jquery.blockUI.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>

</body>
</html>
