@model CRM.Model.Order
@{
    ViewBag.Title = "Create";
}
<div class="content-page">
    <!-- Start content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h2>Create</h2>
                    <br />
                    <div class="row">
                        <div class="form-group row">
                            <label for="example-number-input" class="col-sm-7 col-form-label">Fatura Tarihi :</label>
                            <label for="example-number-input" class="col-sm-5 col-form-label">@DateTime.Now.ToShortDateString()</label>
                        </div>
                    </div>
                    @*Modal Select Start*@
                    <div class="row" id="selectedCustomer">

                    </div>


                    <script>
                        //seçili müşterinin ekrana gelmesi
                        function recalcProductRow(
                        ) {
                            var stock = parseInt($('.product-row .stock[prdindex="' + index + '"]').html());
                            var quantity = parseInt($('.product-row .quantity[prdindex="' + index + '"]').val());
                            var price = parseFloat($('.product-row .prc[prdindex="' + index + '"]').val());
                            if (stock == null)
                                stock = 0;
                            if (price == null) {
                                price = 0;
                                $('.product-row .price[prdindex="' + index + '"]').val('0');
                            }
                            if (quantity == null) {
                                quantity = 0;
                                $('.product-row .quantity[prdindex="' + index + '"]').val('1');
                            }

                            stock = parseFloat(stock);

                            if (stock < quantity) {
                                $('.product-row .quantity[prdindex="' + index + '"]').val(stock);
                                quantity = stock;
                            }

                            var total = quantity * price;
                            if (total == null)
                                total = 0;

                            $('.product-row .total[prdindex="' + index + '"]').html(total);

                            var totals = $('.product-row .total');
                            var allTotal = parseFloat('0');
                            $.each(totals, function (index, total_cell) {
                                var total_cell_html = $(total_cell).html();
                                if (total_cell_html != '') {
                                    allTotal += parseFloat(total_cell_html);
                                }
                            });
                            $('.all-total').html(allTotal.toString());
                        }


                        $(document).ready(function () {
                            $("#customerAdd").click(function () {

                                var customers = [];
                                var grid = document.getElementById("myCustomerTable");
                                var radioBoxes = grid.getElementsByTagName("INPUT");
                                for (var i = 0; i < radioBoxes.length; i++) {
                                    if (radioBoxes[i].checked) {
                                        var row = radioBoxes[i].parentNode.parentNode;
                                        customers.push(row.cells[1].innerHTML);
                                    }
                                }
                                if (customers.length > 0) {
                                    $.ajax({
                                        type: "post",
                                        url: "/Order/GetCustomer",
                                        dataType: "json",
                                        data: { 'tc': customers },
                                        success: function (results) {
                                            $('#custom-modal').modal({
                                                backdrop: 'static',
                                                keyboard: false
                                            });
                                            $.each(results, function (id, c) {
                                                var cus = '<div class="list-group col-md-6">' +
                                                    '<div class="list-group-item list-group-item-action">' +
                                                    '<div class="d-flex w-100 justify-content-between">' +
                                                    '<h5 class="mb-1">' + c.FirstName + " " + c.LastName + '</h5>' +
                                                    '</div>' +
                                                    '<p class="mb-1">' + c.Address + '</p>' +
                                                    '<small>' + c.IdentityNumber + '</small>' +
                                                    '</div>' +
                                                    '</div>';
                                                $('#selectedCustomer').append(cus);
                                            });
                                            Custombox.close();
                                            $('.modal-backdrop').remove();
                                            $('.custom-modal-opener').hide();
                                        }
                                    });
                                }

                                

                            });

                            //

                            $("#productAdd").click(function () {

                                var products = [];
                                var grid = document.getElementById("myTable");
                                var checkBoxes = grid.getElementsByTagName("INPUT");
                                for (var i = 0; i < checkBoxes.length; i++) {
                                    if (checkBoxes[i].checked) {
                                        var row = checkBoxes[i].parentNode.parentNode;
                                        products.push(row.cells[1].innerHTML);
                                    }
                                }
                                if (products.length > 0) {
                                    $.ajax({
                                        type: "post",
                                        url: "/Order/GetProduct",
                                        dataType: "json",
                                        data: { 'serialNumber': products },
                                        success: function (results) {
                                            $('#custom-urun').modal('hide');
                                            $.each(results, function (index, c) {
                                                var cus ='<tr class="product-row">' +
                                                    '<td>' + c.SerialNumber + '</td>' +
                                                    '<td>' + c.Name + '</td>' +
                                                    '<td class="stock" prdindex="' + index + '">' + c.Stock + '</td>' +
                                                    '<td>' + '<input onchange="recalcProductRow('+index+');" class="quantity" prdindex="' + index + '" class="form-control col-md-4" type="number" value="1" />' + '</td>' +
                                                    '<td>' + '<input onchange="recalcProductRow(' + index +');" class="prc" prdindex="' + index + '" class="form-control col-md-4" type="number" value="0" />' + '</td>' +
                                                    '<td class="total" prdindex="' + index + '">0' +  '</td>' +
                                                    ' </tr> ';
                                                $('#selectedProduct').append(cus);
                                            });
                                            $('#selectedProduct').append('<tr><td colspan="4"></td><td>TOPLAM</td><td class="all-total">0</td></tr>');
                                        }
                                    });
                                }
                                Custombox.close();
                                $('.modal-backdrop').remove();
                                $('.custom-urun-opener').hide();

                            });
                        });
                    </script>
                    @*Modal Select End*@
                    <br />

                    <a href="#custom-modal"  class="btn btn-primary waves-effect waves-light m-r-5 m-b-10 custom-modal-opener" data-animation="blur" data-plugin="custommodal"
                       data-overlaySpeed="100" data-overlayColor="#36404a">Müşteri Ekle</a>
                    <a href="#custom-urun" class="btn btn-primary waves-effect waves-light m-r-5 m-b-10 custom-urun-opener" data-animation="sign" data-plugin="custommodal"
                       data-overlaySpeed="100" data-overlayColor="#36404a">Ürün Ekle</a>

                    <div class="row">
                        <div class="col-9">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Seri Numarası</th>
                                        <th>Ürün Adı</th>
                                        <th>Stok</th>
                                        <th>Miktar</th>
                                        <th>Satış Fiyatı</th>
                                        <th>Toplam Fiyat</th>
                                    </tr>
                                </thead>
                                <tbody id="selectedProduct"></tbody>
                            </table>
                            <button type="button" class="btn btn-primary waves-effect waves-light" style="float:right">Sipariş Ver</button>
                            <a href="javascript:window.print()" class="btn btn-dark waves-effect waves-light" style="float:right"><i class="fa fa-print"></i></a>
                        </div>
                        
                    </div>
                    

                    <div id="custom-modal" class="modal-demo">
                        <button type="button" class="close" onclick="Custombox.close();">
                            <span>&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="custom-modal-title">Müşteri seçiniz</h4>
                        <div class="custom-modal-text">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table" id="myCustomerTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Tc Kimlik No</th>
                                                <th>Ad</th>
                                                <th>Soyad</th>
                                                <th>Statü</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @ViewBag.Customers)
                                            {
                                                <tr>
                                                    <td><input type="radio" name="radio" class="radio-primary" value="@item.IdentityNumber" /></td>
                                                    <td>@item.IdentityNumber</td>
                                                    <td>@item.FirstName</td>
                                                    <td>@item.LastName</td>
                                                    <td>@item.Status</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <button id="customerAdd" type="button" class="btn btn-primary waves-effect waves-light" style="float:right">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="custom-urun" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Ürün Seçiniz</h4>
                    <div class="custom-modal-text">
                        <div class="row">
                            <div class="col-12">
                                <p>Birden fazla Ürün seçimi yapabilirsiniz</p>
                                <table class="table" id="myTable">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Seri Numarası</th>
                                            <th>Ürün Adı</th>
                                            <th>Kategori</th>
                                            <th>Alış Fiyatı</th>
                                            <th>Stok</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in @ViewBag.Products)
                                        {
                                            <tr>
                                                <td><input type="checkbox" name="check" class="checkbox-primary" /></td>
                                                <td>@item.SerialNumber</td>
                                                <td>@item.Name</td>
                                                <td>@item.Category.Name</td>
                                                <td>@item.BuyingPrice</td>
                                                <td>@item.Stock</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button type="button" id="productAdd" class="btn btn-primary waves-effect waves-light" style="float:right">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

