@model List<CRM.UI.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>
<div class="content-page">
    <!-- Start content -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <p>
                        <br />
                        <a href="@Url.Action("Create")" class="btn btn-custom waves-effect waves-light ">Yeni Sipariş Ekle</a>
                    </p>
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    FullName
                                </th>
                                <th>
                                    RequiredDate
                                </th>
                                <th>
                                    SellingPrice
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequiredDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SellingPrice)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-outline-primary waves-effect waves-light ">Düzenle</a>
                                        <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-outline-danger waves-effect waves-light">Sil</a>
                                        <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-outline-success waves-effect waves-light">Detaylar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
